body {
    font-family: 'Poppins', sans-serif;
}

.intro {
    font-size: 40px;
    box-shadow: -7px 0px cyan;
    margin-left: 7px;
    padding-left: 10px;
}

#span-color {
    color: rgb(11, 141, 141);
}

.hyper-design {
    text-decoration: none;
    background-image: linear-gradient(cyan, skyblue);
    padding: 10px 40px;
    border-radius: 10px;
}

.sec-a {
    display: flex;
}

.first-a {
    width: 50%;
    margin: 30px;
    padding-left: 100px;
}

.first-a img {
    width: 60%;
}